<div class="builderContainer" cdkDropListGroup>
  <div class="stylesSection example-container">
    <button (click)="selectedPortal = domPortal">Render DOM portal</button>
    <div #domPortalContent>Hello, this is a template portal</div>
  </div>

  <div class="portalOutlet example-container">
    <div [cdkPortalOutlet]="selectedPortal" cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>

  <!-- <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div> -->
  <div class="elementsSection example-container" cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag #domPortalContent>{{item}}</div>    
  </div>
</div>

