.formElementsStyles {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    & input,
    & mat-select {
      padding: 10px;
    }
  }

  &__label {
    padding: 0 10px;
  }
}

.radioBtn {
  &__label {
    text-align: right;
  }

  &__button:not(:last-child) {
    margin-bottom: 5px;
  }

  &__fieldset {
    border: none;
  }
}
