<form #f="ngForm"  novalidate class="registrationForm">
  <mat-form-field appearance="fill" class="registrationForm__input">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="registerUserData.username" placeholder="Username" name="username" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" class="registrationForm__input">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="registerUserData.password" placeholder="Password" name="password" type="password">
  </mat-form-field>

  <app-button-submit (click)="registerUser()"></app-button-submit>
</form>
