@import './../../scss/variables.scss';

.registrationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 0 0;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    min-width: 300px;
  }

  &__btn {
    display: block;
    min-width: 100px;
  }

  .mat-customColor {
    color: $btnFontColor;
    background-color: $btnBackgroundColor;
  }
}
