<div class="loginForm">
  <form [formGroup]="loginForm" novalidate class="loginForm__form">
    <mat-form-field appearance="fill" class="loginForm__input">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Username" name="username" type="text">
    </mat-form-field>

    <mat-form-field appearance="fill" class="loginForm__input">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Password" name="password" type="password">
    </mat-form-field>

    <button type="button" class="registrationForm__btn" aria-label="Button submit" mat-flat-button color="customColor"
      (click)="loginUser()">
      Log In
    </button>
  </form>
</div>


