<div class="formStyles">
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item *ngFor="let item of items; let index = index" #accordionItem="cdkAccordionItem"
      class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        {{ item }}
        <span class="example-accordion-item-description">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
        </span>
      </div>
      <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">  
        <app-form-setup-input *ngIf="item === 'Input'"></app-form-setup-input>
        <app-form-setup-textarea *ngIf="item === 'Textarea'"></app-form-setup-textarea>
        <!-- <app-form-setup-button *ngIf="item === 'Button'"></app-form-setup-input>
        <app-form-setup-select *ngIf="item === 'Select'"></app-form-setup-input>
        <app-form-setup-checkbox *ngIf="item === 'Checkbox'"></app-form-setup-input> -->
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
