<div class="formStyles" >
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item 
      #accordionItem="cdkAccordionItem" 
      class="example-accordion-item" 
      role="button" 
      tabindex="0"
      [attr.id]="'accordion-header-' + index" 
      [attr.aria-expanded]= "isOpenGeneralSection"
      [attr.aria-controls]="'accordion-body-' + index">
    <div class="example-accordion-item-header" (click)="onToggle($event)">
      General Styles
      <span class="example-accordion-item-description">
        Click to {{ isOpenGeneralSection ? 'close' : 'open' }}
      </span>
    </div>

    <div class="example-accordion-item-body " 
      role="region" 
      [style.display]="isOpenGeneralSection ? '' : 'none'"
      [attr.id]="'accordion-body-' + index" 
      [attr.aria-labelledby]="'accordion-header-' + index"> 
      <app-general-styles></app-general-styles>
    </div>
    </cdk-accordion-item>

    <cdk-accordion-item 
    
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item" 
      role="button" 
      tabindex="0" 
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="isOpenElementSection" 
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="onToggle($event)">
        Element Styles
        <span class="example-accordion-item-description">
          Click to {{ isOpenElementSection ? 'close' : 'open' }}
        </span>
      </div>
    
      <div
      *ngIf="currentElement$ | ngrxPush as currentElement"  
      class="example-accordion-item-body " 
        role="region" 
        [style.display]="isOpenElementSection ? '' : 'none'"
        [attr.id]="'accordion-body-' + index" 
        [attr.aria-labelledby]="'accordion-header-' + index">
        <app-form-setup-input *ngIf="currentElement === 'input'"></app-form-setup-input>
        <app-form-setup-button *ngIf="currentElement === 'button'"></app-form-setup-button>
        <app-form-setup-textarea *ngIf="currentElement === 'textarea'">
        </app-form-setup-textarea>
        <app-form-setup-select *ngIf="currentElement === 'select'"></app-form-setup-select>
        <app-form-setup-checkbox *ngIf="currentElement === 'checkbox'">
        </app-form-setup-checkbox>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
