<form [formGroup]="formSetupInput" class="formSetupInput">
  <label>Field label
    <input mat-input type="text" formControlName="label">
  </label>
  <label>Placeholder
    <input mat-input type="text" formControlName="placeholderText">
  </label>
  <label>Field width
    <input type="text" formControlName="width">
  </label>
  <label>Field height
    <input type="text" formControlName="height">
  </label>
  <label>Required of field
    <input type="checkbox" formControlName="required" name="required">
  </label>
  <label> Border style
    <select formControlName="borderStyle">
      <option value="solid" selected>solid</option>
      <option value="dotted">dotted</option>
      <option value="inset">inset</option>
      <option value="double">double</option>
      <option value="groove">groove</option>
      <option value="none">none</option>
    </select>
  </label>
  <label> Font size
    <input type="text" formControlName="fontSize">
  </label>
  <label> Font weight
    <select formControlName="fontWeight">
      <option value="normal" selected>normal</option>
      <option value="bold">bold</option>
      <option value="lighter">lighter</option>
    </select>
  </label>
  <label> Font color
    <input type="color" formControlName="color">
  </label>
</form>
