<nav class="AuthNav">
    <ul class="AuthNav__list">
        <li class="AuthNav__item">
            <a *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active" class="AuthNav__link" mat-button aria-label="Log In">Log In</a>
        </li>
        <li class="AuthNav__item">
            <a *ngIf="!_authService.loggedIn()" routerLink="/registration" routerLinkActive="active" class="AuthNav__link" mat-button aria-label="Sign Up">Sign Up</a>
        </li>
        <li class="AuthNav__item">
            <a *ngIf="_authService.loggedIn()" routerLink="/login" routerLinkActive="active" class="AuthNav__link"
                mat-button aria-label="Sign Up" (click)="_authService.logoutUser()">Log Out</a>
        </li>
    </ul>
</nav>