<div 
  *ngrxLet="generalStyles$ as generalStyles"
  class="dragDrop__container"
  (click)=deleteElement($event) 
  (click)=setActiveElement($event)>
  <form 
    [formGroup]="createdForm"
    *ngrxLet="shownElements$ as shownElements"
    class="dragDrop__list"
    [ngStyle]="commonService.stylesFactory(generalStyles, formGeneralStyles)">
      <h1 class="dragDrop__header">{{ generalStyles.title }}</h1>
      <div 
        class="dragDrop__box" 
        *ngFor="let item of shownElements" 
        cdkDrag>
        <div 
          class="dragDrop__customPlaceholder" 
          *cdkDragPlaceholder>
        </div>

        <div 
          [id]="item.id" 
          *ngIf="item.name === 'input'" 
          class="fieldElement" 
          [ngClass]='{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <p 
              class="fieldElement__fieldText"
              [ngStyle]="commonService.stylesFactory(generalStyles, titleGeneralStyles)">
              {{item.fieldText }}
            </p>
            <app-input
              formControlName={{item.id}}
              class="example-full-width"
              [componentRequired]="item.required"
              [componentFieldStyles]="commonService.stylesFactory(item, formFieldStyles)"
              [componentLabelStyles]="commonService.stylesFactory(item, matLabelStyles)" 
              [componentLabelText]='item.label'
              [componentInputPlaceholder]='item.placeholder'
              [componentInputStyles]="commonService.stylesFactory(item, inputStyles)"> 
            </app-input>
          </div>
          <app-button-panel></app-button-panel>
        </div>
        
        <div 
          [id]="item.id" 
          *ngIf="item.name === 'textarea'" 
          class="fieldElement" 
          [ngClass]='{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <p 
              class="fieldElement__fieldText"
              [ngStyle]="commonService.stylesFactory(generalStyles, titleGeneralStyles)">
              {{item.fieldText }}</p>
            <app-textarea
              formControlName={{item.id}}   
              class="example-full-width"
              [componentRequired]="item.required"
              [componentFieldStyles]="commonService.stylesFactory(item, formFieldStyles)"
              [componentLabelStyles]="commonService.stylesFactory(item, matLabelStyles)" 
              [componentLabelText]='item.label'
              [componentTextareaPlaceholder]='item.placeholder'
              [componentTextareaStyles]="commonService.stylesFactory(item, inputStyles)">
            </app-textarea>
          </div>
          <app-button-panel></app-button-panel>
        </div>
        
        <div 
          [id]="item.id" 
          *ngIf="item.name === 'select'" 
          class="fieldElement" 
          [ngClass]='{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <p 
              class="fieldElement__fieldText"
              [ngStyle]="commonService.stylesFactory(generalStyles, titleGeneralStyles)">
              {{item.fieldText }}</p>
            <app-select
              formControlName={{item.id}}   
              class="example-full-width"
              [componentRequired]="item.required"
              [componentFieldStyles]="commonService.stylesFactory(item, formFieldStyles)"
              [componentLabelStyles]="commonService.stylesFactory(item, matLabelStyles)" 
              [componentLabelText]='item.label'
              [componentSelectStyles]="commonService.stylesFactory(item, matSelectStyles)" 
              [componentOptionsStyles]="commonService.stylesFactory(item, matOptionStyles)"
              [values]='item.options'>
            </app-select>
            </div>
          <app-button-panel></app-button-panel>
        </div>

        <div 
          [id]="item.id" 
          *ngIf="item.name === 'checkbox'" 
          class="fieldElement" 
          [ngClass] = '{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <p 
              class="fieldElement__fieldText"
              [ngStyle]="commonService.stylesFactory(generalStyles, titleGeneralStyles)"> 
              {{item.fieldText }}
            </p>
            <app-checkbox
              formControlName={{item.id}}  
              [componentStyles]="commonService.stylesFactory(item, checkboxStyles)"
              [componentRequired]="item.required"
              [componentLabel]="item.label"
              name="checkbox">
            </app-checkbox>
          </div>
          <app-button-panel></app-button-panel>
        </div>

        <div 
          [id]="item.id" 
          *ngIf="item.name === 'button'" 
          class="fieldElement" 
          [ngClass] = '{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <app-button
              [componentStyles]="commonService.stylesFactory(item, buttonStyles)"
              [componentText]='item.text'
              name="button">
            </app-button>
          </div>
          <app-button-panel></app-button-panel>
        </div>
      </div>
    </form>
</div>
