<div 
  cdkDropListGroup 
  class="dragDrop__container" 
  *ngrxLet="generalStyles$ as generalStyles">
  <div 
    cdkDropList 
    *ngrxLet="shownElements$ as shownElements"
    [cdkDropListData]="droppedElements" 
    class="dragDrop__list"
    (cdkDropListDropped)="drop($event)" 
    (click)=deleteElement($event) 
    (click)=setActiveElement($event) 
    [ngStyle]="commonService.generalStylesFactory(generalStyles)">
      <h1 class="dragDrop__header">{{ generalStyles.formTitle }}</h1>

      <div 
        class="dragDrop__box" 
        *ngFor="let item of shownElements" 
        cdkDrag>
        <div 
          class="dragDrop__customPlaceholder" 
          *cdkDragPlaceholder></div>

        <div 
          [id]="item.id" 
          *ngIf="item.name === 'input'" 
          class="fieldElement" 
          [ngClass]='{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <p 
              class="fieldElement__fieldText"
              [ngStyle]="commonService.generalFontSizeColorFactory(generalStyles)">{{
              item.inputFieldText }}</p>
            <mat-form-field 
              class="example-full-width" 
              appearance="fill" 
              [attr.required]="item.selectRequired"
              [ngStyle]="commonService.inputStylesFactory(item)">
              <mat-label class="fieldElement__label">{{ item.inputLabel }}</mat-label>
              <input 
                class="fieldElement__input" 
                name="input" 
                matInput 
                placeholder={{item.inputPlaceholder}}
                [ngStyle]="commonService.inputHeightFactory(item)">
            </mat-form-field>
          </div>
          <app-button-panel></app-button-panel>
        </div>
        
        <div 
          [id]="item.id" 
          *ngIf="item.name === 'textarea'" 
          class="fieldElement" 
          [ngClass]='{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <p 
              class="fieldElement__fieldText"
              [ngStyle]="commonService.generalFontSizeColorFactory(generalStyles)">{{
              item.textareaFieldText }}</p>
            <mat-form-field 
              class="example-full-width" 
              appearance="fill" 
              [attr.required]="item.selectRequired"
              [ngStyle]="commonService.textareaStylesFactory(item)">
              <mat-label class="fieldElement__label">{{ item.textareaLabel }}</mat-label>
              <textarea 
                class="fieldElement__input" 
                name="input" 
                matInput 
                placeholder={{item.inputPlaceholder}}
                [ngStyle]="commonService.textareaHeightFactory(item)"></textarea>
            </mat-form-field>
          </div>
          <app-button-panel></app-button-panel>
        </div>
        
        <div 
          [id]="item.id" 
          *ngIf="item.name === 'select'" 
          class="fieldElement" 
          [ngClass]='{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <p 
              class="fieldElement__fieldText"
              [ngStyle]="commonService.generalFontSizeColorFactory(generalStyles)">{{
              item.selectFieldText }}</p>
            <mat-form-field 
              appearance="fill" 
              [attr.required]="item.selectRequired"
              [ngStyle]="commonService.selectStylesFactory(item)">
              <mat-label [ngStyle]="commonService.selectStylesFactory(item)">{{ item.selectLabel }}</mat-label>
              <mat-select 
                class="fieldElement__input" 
                name="select"
                [ngStyle]="commonService.selectColorHeightFactory(item)">
                <mat-option 
                  *ngFor="let option of item.selectOptions" 
                  [value]="option" 
                  [ngStyle]="commonService.selectColorFactory(item)">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <app-button-panel></app-button-panel>
        </div>

        <div 
          [id]="item.id" 
          *ngIf="item.name === 'checkbox'" 
          class="fieldElement" 
          [ngClass] = '{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
            <p 
              class="fieldElement__fieldText"
              [ngStyle]="commonService.generalFontSizeColorFactory(generalStyles)">{{
              item.checkboxFieldText }}</p>
            <mat-checkbox 
              name="checkbox"
              [ngStyle]="commonService.checkboxStylesFactory(item)" 
              [attr.required]="item.selectRequired">{{ item.checkboxLabel }}</mat-checkbox>
          </div>
          <app-button-panel></app-button-panel>
        </div>

        <div 
          [id]="item.id" 
          *ngIf="item.name === 'button'" 
          class="fieldElement" 
          [ngClass] = '{isActiveElement: item.isCurrentElement}'>
          <div class="fieldElement__content">
          <button 
            mat-flat-button name="button"
            [ngStyle]="commonService.buttonStylesFactory(item)">{{
            item.buttonText }}</button>
          </div>
          <app-button-panel></app-button-panel>
        </div>
      </div>
  </div>

  <div 
    class="dragDrop__list collectionElements" 
    cdkDropList [cdkDropListData]="dragElements"
    (cdkDropListDropped)="drop($event)">
    <div 
      class="dragDrop__box collectionElements__item" 
      *ngFor="let item of dragElements" 
      cdkDrag>
      <div 
        class="dragDrop__customPlaceholder" 
        *cdkDragPlaceholder></div>
      <h2 class="collectionElements__element">{{ item }}</h2>
    </div>
  </div>
</div>
