.formElementsStyles {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    & input,
    & mat-select {
      padding: 10px;
    }
  }

  &__label {
    padding: 0 10px;
  }
}

.colorInput {
  &__input {
    border: none;
    background: transparent;
    width: 60px;
    height: 60px;
    padding: 0;
  }
}
