body {
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// TODO: change comp Container to class
// ._container {
//   max-width: 100%;
//   margin: 0 auto;

//   @include breakpoint(mobile) {
//     width: 290px;
//     padding: 0 10px;
//   }

//   @include breakpoint(tablet) {
//     width: 622px;
//     padding: 0 14px;
//   }

//   @include breakpoint(desktop) {
//     width: 958px;
//     padding: 0 14px;
//   }
// }
