@import './../../../scss/variables.scss';

.appNav {
  &__list {
    display: flex;

    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__link:focus,
    &__link:hover,
    .activeLink {
      color: $btnFontColor;
      background-color: $btnBackgroundColor;
    }
  }
}
